:root {
    --clr-dark-background: #171718;
    --clr-darker-background: #0d0d0e;
    --clr-dark-red: #c20440;
    --clr-dark-blue: #1fceab;
    --clr-dark-white: #fefdff;
    --clr-dark-grey: #575557;

    --clr-light- : ;

    --ff-title: 'Source Sans Pro', sans-serif;
    --ff-content: 'JetBrains Mono', monospace;
}

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: var(--clr-acce);
}


body {
    font-family: var(--ff-content);
}
.box {
    display: block;
    z-index: 4;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    background: rgba(0, 0, 0, 0.85);
    padding: 40px;
    box-sizing: border-box;
    border: 3px solid var(--clr-accent);
    border-radius: 10px;
    box-shadow: 10px 10px var(--clr-dark-blue), -10px -10px var(--clr-dark-red) ;
}

.img-container {
    display: flex;
    align-items: center;

}
.section .box .img-container img {
    width: 300px;
    margin: auto;
    transition: .5s;
}

.box h2{
    font-size: 4rem;
    margin: 0 0 40px;
    padding: 0;
    color: var(--clr-dark-white);
    font-family: var(--ff-title);

}

.box input {
    padding: 10px 0;
    margin-bottom: 35px;
}

.box input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 3px solid var(--clr-dark-blue);
    background: none;
    color: var(--clr-dark-blue);
    font-family: var(--ff-content);
    font-weight: 600;
    font-size: 1.2rem;
}


.box button {
    display: block;
    margin: auto;
    border-bottom: 4px solid #4be2c4;
    cursor: pointer;
    border-radius: 20px;
    background: var(--clr-dark-blue);
    width: 60%;
    color: var(--clr-dark-white);
    font-family: var(--ff-content);
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: bold;
    box-shadow: 0px 5px 0 #218f79;
    margin-bottom: 0;
    outline: none;
    text-transform: uppercase;
    transition: .2s;
    padding: 10px 0;
}

.box button:active {
    box-shadow: none;
    transform: translateY(5px);
    transition: .2s;

}

.box form div {
    position: relative;
}

.box form div label {
    position: relative;
    font-size: 30px;
    top: -110px;
    left: 0;
    color: #5c5c5c;
    transition: .5s;
    pointer-events: none;
    font-family: var(--ff-content);
}

.box input:focus ~ label
{
    top: -110px;
    left: 0;
    color: var(--clr-dark-red);
    font-size: 25px;
    font-weight: bold;
}

.box input:focus
{
    border-bottom: 2px solid var(--clr-dark-red);
}


* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Baloo 2', cursive;
}
.banner-text {
	width: 100%;
	position: absolute;
	z-index: 1;
}
.banner-text ul {
	height: 50px;
	float: right;
}
.banner-text ul li {
	display: inline-block;
	padding: 40px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
}
.banner-text ul li:hover {
	cursor: pointer;
}
.banner-text h2 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top: 20%;
}

/* animated background */

.animation-area {
	background: linear-gradient( #020202, #242424, #020202);
	width: 100%;
	height: 100vh;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
    height: 25px;
    border-radius: 10px;;
    background: rgba(87, 250, 215, 0.6);
    box-shadow: 10px 5px 5px rgba(223, 76, 88, 0.6);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-content);
}

.register h3 {
    padding: 20px 0;
    color: var(--clr-dark-grey);
}

.register h3 a {
    text-decoration: none;
    color: var(--clr-dark-blue);
    transition: .2s;
}

.register h3 a:hover {
    text-decoration: underline;
    color: var(--clr-dark-red);
    transition: .2s;
}

@media (max-width: 1000px) {
    .section .box .img-container img {
        width: 250px;
        margin: auto;
        transition: .5s; 
    }
}